* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-color: #ff4040;
  --title-color: #0a75ad;
}

.title p {
  color: var(--app-color);
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 20px;
  left: 35px;
}

.title h1 {
  color: var(--title-color);
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
}

.files_up span {
  cursor: pointer;
  color: #ff0c93;
  font-size: 4rem;
}
