* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-color: #ff4040;
  --title-color: #0a75ad;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}
.title p {
  color: var(--app-color);
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 20px;
  left: 35px;
}

.title h1 {
  color: var(--title-color);
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
}

.files_up span {
  cursor: pointer;
  color: #ff0c93;
  font-size: 4rem;
}

/* progress bar */
.bar-progress {
  height: 2em;
  background: #ff0c93;
  margin-top: 20px;
}

/* ImageGrid */

.image-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.image-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.image-wrap img {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 150%;
  box-shadow: 0px 1px 3px 0px #00000070;
}

/* Modal */

.drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.drop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
